* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f9fafb;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(135deg, #111827, #1f2933);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #d1d5db;
}

/* Sections */
section {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #111827;
}

/* Skills */
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

ul li {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Footer */
footer {
    background: #e5e7eb;
    padding: 30px;
    text-align: center;
    margin-top: 60px;
    font-size: 0.9rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 10px;
    color: #111827;
}

/* Call To Action */
.cta {
    background: linear-gradient(135deg, #1f2933,#111827);
    color: white;
    text-align: center;
    padding: 80px 20px;
    margin-top: 80px;
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white
}

.cta p {
    max-width: 600px;
    color: #d1d5db;
    margin: 0 auto 30px;
}

.cta-btn {
    display: inline-block;
    background: white;
    color: #111827;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s ease;
}

.cta-btn:hover {
    background: #e5e7eb;
}

section p {
    max-width: 700px;
    font-size: 1.05rem;
    color: #4b5563;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    color: #2563eb;
    font-weight: 600;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #facc15;
  margin-top: 20px;
    object-position: top;
    box-shadow:0 0 20px rgba(245, 180, 0, 0.4)
}
