* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

/* Hero */
.hero {
    background: #111827;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
}

.btn {
    display: inline-block;
    background: #ffffff;
    color: #111827;
    padding: 14px 36px;
    text-decoration: none;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #e5e7eb;
    transform: translateY(-2px);
}

/* Sections */
section {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
}

/* Services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {
    background: #f3f4f6;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

/* Why */
.why-list {
    list-style: none;
    max-width: 600px;
    margin: auto;
    font-size: 1.1rem;
}

.why-list li {
    margin-bottom: 15px;
}

/* Contact */
.contact {
    width: 100%;
    max-width: none;
    margin:0;
    background: #1f2933;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.contact h2{
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
}

.contact p {
    margin-bottom: 30px;
    color: #d1d5db;
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    section {
        margin: 60px auto;
    }

    .contact {
        padding: 80px 20px;
    }
}
